PORT=5000
NODE_ENV=development

VERIFICATION_CODE_SECRET=replace_with_a_long_random_secret

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false

SMTP_USER=replace_with_mailtrap_username
SMTP_PASS=replace_with_mailtrap_password

EMAIL_FROM_NAME=Authentication System
EMAIL_FROM_ADDRESS=no-reply@example.com